# Nightwatch Backup systemd timer template.
[Unit]
Description=Nightwatch Backup timer

[Timer]
OnCalendar=@ONCALENDAR@
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
